# ==============================================================================
# Terraform Beanstalk Backend Infrastructure - .gitignore
# ==============================================================================

# Project specific files
vprofile-project/

# System files
.DS_Store